
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Sosyal Medya Ekleme</h2>
<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" class="form-control" name="SocialMediaId" style="border:groove" />
    <br />
    <button class="btn btn-info">Sosyal Medya Ekle</button>
</form>
