@model List<AcunmedyaAkademiPortfolio.Models.TblEducation>

<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
    <!-- Edn Resume Item -->

    <h3 class="resume-title">Eğitim Hayatım</h3>

    @foreach (var item in Model)
    {
        <div class="resume-item">
            <h4>@item.Title</h4>
            <p><em>@item.SubTitle</em></p>
            <h5>@item.Period </h5>
            <p>@item.Description</p>
        </div>
    }

</div>

